﻿@page "/"

@using Algorithms.Core

<h1>Hello, world!</h1>

<button @onclick="run">
    run highs test
</button>

@if (truth is not null)
{
    <table>
    <tr>
        <th>State name</th>
        <th>Truth value</th>
        <th>Model value</th>
    </tr>

    @foreach(KeyValuePair<string, float> kvp in truth)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>@kvp.Value</td>
            <td>@model.?[kvp.Key]</td>
        </tr>
    }
    </table>
}
else
{
    <table>
    <tr>
        <th>State name</th>
        <th>Truth value</th>
        <th>Model value</th>
    </tr>
    </table>
}

@code {

    IDictionary<string, float>? truth = null;
    IDictionary<string, float>? model = null;

    public void run()
    {
        model = null; // Reset outputs
        truth = null; // Reset outputs
        var testsResult = Test.simple(10, 1.0, 0.001);
        var modelResult = Test.displayResult(testsResult);
        if (modelResult.IsOk)
        {
            model = new Dictionary<string, float>();
            truth = new Dictionary<string, float>();
            foreach(KeyValuePair<string, System.Tuple<double, double>> kvp in modelResult.ResultValue)
            {
                truth.Add(kvp.Key, (float)(kvp.Value.Item1));
                model.Add(kvp.Key, (float)(kvp.Value.Item2));
            }
        }
        StateHasChanged();
    }
}